<div class="container">

  <div class="row">
    <div class="col-sm">
      <%= link_to "Log out", destroy_user_session_path,
        method: :delete,
        class:  "btn btn-primary btn-lg" %>
    </div>
    <div class="col-sm">
      <%= form_with model: Tweet.new, url: tweets_path , local: true do |f| %>
        <%= f.text_field :body %>
        <%= f.submit %>
      <%end%>
      <ul>
        <% Tweet.find_each do |tweet|%>
          <li> <%= tweet.body %></li>
        <%end%>
      </ul>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
