<div class="div_hover rounded px-4 py-2 mt-2", id="<%= dom_id tweet %>">
  <% if (Time.zone.now - tweet.created_at) > 1.day %>
    <p class="text-muted">@<%= tweet.user.username %><small><%= tweet.created_at.strftime("%b %-d") %></small>
    </p>
  <% else %>
    <p class="text-muted">@<%= tweet.user.username %> <small ><%= time_ago_in_words(tweet.created_at) %></small></p>
  <% end %>

  <p class="text-muted">
  <%= tweet.body %>
  </p>

</div>
